body{
    background-color: #1f1f1f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.brand h1{
    margin: auto;
    width: 25%;
    text-align: center;
    padding: 0;
}

.brand p{
    margin: auto;
    width: 25%;
    text-align: center;
    padding: 0;
}
